<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airlines</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid" >
      <a class="navbar-brand">GN AIRLINES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" justify-content-center id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="nav('login')">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner-image"></div>

    <section id="flights" class="section flights-section">
        <h2>Flights</h2>

        <article class = "flights">
    <h3 class ="flights-destination">Manila, Philippines <strong>></strong> Cebu, Philippines</h3>
    <p class ="flights-departure">Departure time: 5/26/2022, 7:00pm</p>
    <p class ="flights-arrival">Arrival time: 5/26/2022, 10:00pm</p>
    <p class ="flights-code">E29</p>
        </article>
    </section>

</body>
</html>



