<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airlines</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">GN AIRLINES</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" justify-content-center id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" (click)="nav('admin/viewUsers')">View Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" (click)="nav('admin/create')">Create Flight</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="nav('admin/viewFlights')">View Flights</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="nav('flights')">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  <div id="content">
    <div class="card" style="width: 23.5rem">
        <div class="card-header">Add Flight</div>

        <div class="card-body">
            <form class="inputs" [formGroup]="addFlightForm" (ngSubmit)="onSubmit()">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Destination"
                        formControlName="fCDestination" />
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Origin"
                        formControlName="fCOrigin" />
                    <input type="datetime-local" class="form-control" id="exampleFormControlInput1"
                         formControlName="fCDeparture" />
                    <input type="datetime-local" class="form-control" id="exampleFormControlInput1" 
                        formControlName="fCArrival" />
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Flight Code" formControlName="fCCode" />
                </div>
                <!-- <p *ngIf="password.errors && password.touched">
                    Password length should be atleast 8 characters
                </p>
                <p *ngIf="
            f['fCPassword'].value != f['fCPassword'].value && 
            ((f['fCPassword'].touched && f['fCPassword'].dirty) && (f['fCPassword'].touched))
          ">
                    Passwords do not match
                </p> -->
                <div class="buttons">
                    <button class="btn btn-primary" type="submit" [disabled]="!addFlightForm.valid">
                        Add Flight</button>
                    <button class="btn btn-primary" (click)="nav('login')">Back to Home</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 
<div id="content">
    <div class="card" style="width: 23.5rem">
        <div class="card-header">Cancel Flight</div>

        <div class="card-body">
            <form class="inputs" [formGroup]="cancelFlightForm" (ngSubmit)="cancelFlight()">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Flight Code" formControlName="fCCancelCode" />
                </div>

                <div class="buttons">
                    <button class="btn btn-primary" type="submit" [disabled]="!cancelFlightForm.valid">
                        Cancel Flight</button>
                    <button class="btn btn-primary" (click)="nav('login')">Back to Home</button>
                </div>
            </form>
        </div>
    </div>
</div> -->



</body>
</html>



